<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffeebakeryadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".Account.ForgotPasswordActivity" />
        <activity android:name=".Account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListBook.AddBookActivity" />
        <activity android:name=".ListBook.BookActivity" />
        <activity android:name=".ListDetailPost.DetailPostActivity" />
        <activity android:name=".Infomation.AddInfoActivity" />
        <activity android:name=".Infomation.InfomationActivity" />
        <activity android:name=".Banner.ListBannerActivity" />
        <activity android:name=".Banner.BannerActivity" />
        <activity android:name=".ListReport.QuarReportActivity" />
        <activity android:name=".ListReport.MonthReportActivity" />
        <activity android:name=".ListReport.DailyReportActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".List_Detail_Receipt.DetailReceiptActivity" />
        <activity android:name=".List_Receipt.ListReceiptActivity" />
        <activity android:name=".List_Post.AddPostActivity" />
        <activity android:name=".List_Post.ListPostActivity" />
        <activity android:name=".List_Product.DetailProductActivity" />
        <activity android:name=".List_Product.AddProductActivity" />
        <activity android:name=".List_Product.ListProductActivity" />
        <activity android:name=".ListReport.ReportActivity" />
        <activity android:name=".ListDetailCustomer.DetailCustomerActivity" />
        <activity android:name=".ListCustomer.ListCustomerActivity" />
        <activity android:name=".AdminActivity" />
    </application>

</manifest>